.jumbotron {
  background-color: #3E4736;
  color: #F7F7F2;
  padding-top: 80px;
  padding-bottom: 0px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Quattrocento', sans-serif;
}

.jumbotron .container {
  padding-bottom: 24px;
}

.navbar {
  font-family: 'Oswald', sans-serif;
}
