.jumbotron {
  background-color: #3E4736;
  color: #F7F7F2;
  padding-top: 5%;
  padding-bottom: 0px;
}

.navbar {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  border-radius: 0px;
  color: #F7F7F2;;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Quattrocento', sans-serif;
  font-size: 16px;
  padding-top: 16px;
  text-align: center;
}

p {
  font-family: 'Quattrocento', sans-serif;
  font-size: 16px;
  padding-top: 16px;
}

li {
  font-family: 'Quattrocento', sans-serif;
}

.jumbotron .container {
  padding-bottom: 5%;
}

.container {
  padding: 5%
}





